@font-face {
    font-family: 'Geist';
    src: url(./font/GeistMonoVF.ttf);
}

.Geist {
    font-family: 'Geist';
}

/* canvas{
    /* object-fit: contain; */
    /* image-rendering: pixelated; */
} */

.overlay {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1f1d3db0-bb51-4da7-874b-fc4bda5f2395/dclwg5d-3249b800-65b3-4ad5-9a42-d0519ba70d4c.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFmMWQzZGIwLWJiNTEtNGRhNy04NzRiLWZjNGJkYTVmMjM5NVwvZGNsd2c1ZC0zMjQ5YjgwMC02NWIzLTRhZDUtOWE0Mi1kMDUxOWJhNzBkNGMuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.YV3WyK5Vbd7sQRvEr2N7ufHdC9eH5fyMha45pOxNd80);
    mix-blend-mode: multiply;
    /* position: absolute;
    top: 0; */
    /* width: 960px;
    height: 540px; */
    opacity: 0.5;
    pointer-events: none;
}